* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Light';
    letter-spacing: .05em;
}
html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    height: 100%;
    
}

.login-wrapper {
    background-color:white;
    width: 250px;
    height: 500px;
    padding: 0 50px;
    position: relative;
    left: 50%;
    border-radius: 15px;
    top:50%;
    
}
.login-wrapper .header {
    font-size:  30px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}

.login-wrapper .form-wrapper .input-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    border-bottom: 2px solid rgb(128,125,125);
    font-size: 15px;
    outline: none;
}

.login-wrapper .form-wrapper .input-item::placeholder {
    text-transform: uppercase;
}

.login-wrapper .form-wrapper .btn {
    text-align: center;
    padding: 5px;
    margin-top: 40px;
    
    color: orange;
}

.login-wrapper  .msg {
    text-align: center;
    line-height: 80px;
}

.login-wrapper  .msg a  {
    text-decoration-line:  none;
    color: green;
}


@keyframes move{
                              from{left:150px;}
                              to{left:790px;}
                             }










 div {
    width: 300px;
    height: 400px;
    border: #000 solid 1px;
    margin: 50px auto;
    overflow: hidden;
}
div img {
    cursor: pointer;
    transition: all 0.6s;
}
div img:hover {
    transform: scale(2.2);
}
        body {undefined
    margin: 0px;
    padding: 0px;
}
	
        .media-object {
            width: 150px;
            height: 150px;
            overflow: hidden;
            border-radius: 75px;
            -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }
        .media-object:hover {
            -webkit-transform:rotate(360deg) skew(-10deg) scale(1.0) translate(100px,0);
            -moz-transform:rotate(360deg) skew(-10deg) scale(1.0) translate(100px,0);
            transform:rotate(360deg) skew(-10deg) scale(1.0) translate(100px,0);
        }
        .rotate-icon {
            display: inline-block;
            vertical-align: middle;
            width: 150px;
            height: 150px;
            background-size: 150px 150px;
            background-image: url("images/02.jpg");
            background-repeat: no-repeat;
        }
    body {undefined
    margin: 0px;
    padding: 0px;
}

#Background {undefined
    width: 1020px;
    height: 100px;
    background-color: white;
    align:center;
}

#boxx {undefined
    width: 100px;
    height: 100px;
    animation: move 2s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: finite;
    animation-direction: alternate;
}

@keyframes move {undefined
    0% {undefined
        border-radius: 50px;
        background-color: white;
        transform: translate(0px);
    }
    
    100% {undefined
        border-radius: 50px;
        background-color:white;
        transform: translate(900px);
    }
}

 
        
     
       

