

      
       

 div.anniu
{
display:flex;}
div.anniu span{
width:10px;
height:10px;
margin:40px;}


div.pic
{
display:flex;
flex-direction:row;

align-content: flex-start;
height: 2000px;
background-color: white;
flex-wrap: wrap;


}


.column
{

height:400px;
background-color: purple;

color: #fff;
margin:10px;

}
.column {
  flex: 25%;
  max-width: 20%;
 }
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 40%;
  }
  .anniu{flex-direction:column;
  }
}
@media (max-width: 480px) {
  .column {
    flex: 90%;
    max-width: 90%;
  }
}
        
     
       

